
/*# sourceMappingURL=app.css.map */
body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
body article {
    margin: 10px;
}
body article button {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar ul {
    margin: 0;
    padding: 10px;
    background-color: slategray;
    overflow: hidden;
    list-style-type: none;
}
.navbar li {
    float: right;
}
li.left {
    float: left;
}
.navbar a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 1vw;
}

.leftcontainer {
    max-width: 44vw;
    margin-left: 5vw;
    margin-right: 1vw;
}
.rightcontainer {
    max-width: 44vw;
}
.leftcontainer img, .rightcontainer img {
    width: 99%;
    height: 30vw;
}
.leftcontainer button, .rightcontainer button {
    width: 99%;
    background-color: slategray;
    border: none;
    padding: 10px;
}
.leftcontainer button a, .rightcontainer button a {
    font-size: 22px;
    color: white;
    text-decoration: none;
}

.user-form {
    padding-left: 40vw;
    width: auto;
}
.user-form button {
    background-color: slategray;
    color: white;
    border: none;
    font-size: large;
    padding: 5px;
    margin-top: 4px;
}
.user-form a {
    color: black;
}
.title {
    margin-left: 20vw;
    font-size: 26px;
}
.tableTitle {
    margin-left: 10vw;
    font-size: 26px;
}
.note {
    margin-left: 20vw;
    font-size: 18px;
}
.inputForm {
    max-width: 50vw;
    padding-left: 25vw;
    padding-top: 25px;
}
.inputForm .input {
    width: 99%;
    font-size: 18px;
}
.inputForm textarea {
    max-height: 5vw;
}
.inputForm label {
    font-size: 20px;
}
.inputForm .submitButton {
    width: 99%;
    margin-top: 8px;
    font-size: 18px;
    padding: 5px;
    background-color: slategray;
    border: none;
    color: white;
    font-weight: bold;
}
.backButton {
    background-color: slategray;
    border: none;
    display: inline;
    float: right;
    margin-right: 20vw;
    font-size: 16px;
    padding: 8px;
}
.backButton a {
    text-decoration: none;
    color: white;
}
.newAnswer, .newQuestion {
    background-color: slategray;
    border: none;
    display: inline;
    margin-left: 25vw;
    font-size: 16px;
    padding: 8px; 
}
.newAnswer a, .newQuestion a {
    text-decoration: none;
    color: white;
}
.newQuestionnaire {
    background-color: slategray;
    border: none;
    display: inline;
    float: right;
    margin-right: 10vw;
    font-size: 16px;
    padding: 8px; 
}
.newQuestionnaire a {
    text-decoration: none;
    color: white;
}
.smallEditButton {
    float: right;
    margin: 5px;
    background-color: slategray;
    border: none;
}
.smallEditButton a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 4px;
}
.table {
    width: 80vw;
    margin-left: 10vw;
    padding-top: 50px;
}
.table thead {
    background-color: slategray;
}
.table thead tr {
    height: 40px;
}
.table thead tr td {
    color: white;
    font-size: 22px;
    padding: 2px;
    padding-left: 7px;
}
.table tbody tr {
    height: 50px;
}
.table tbody tr td {
    border-bottom: 1px solid slategray;
    font-size: 20px;
    padding: 2px;
    padding-left: 7px;
}
.table tbody tr td a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.table .editButton, .table .deleteButton, .table .respondButton {
    background-color: slategray;
    border: none;
    height: 40px;
    width: auto;
    border-radius: 6px;
}
.table .deleteButton, .table .respondButton {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}
.hidden {
    display: none;
}
.description {
    margin: 0 0 10px 15vw;
    font-size: 24px;
    max-width: 80vw;
}

.responseForm{
    margin-left: 15vw;
    max-width: 70vw;
}
.responseForm label {
    font-size: 20px;
}
.responseForm select {
    width: 99%;
    font-size: 20px;
    margin: 5px 0 5px 0;
}
.responseForm .submitResponse {
    font-size: 20px;
    width: 99%;
    margin-top: 10px;
    background-color: slategray;
    color: white;
    border: none;
    padding: 6px;
}

.thanks {
    max-width: 50vw;
    margin-left: 25vw;
}
.thanks h1 {
    margin-bottom: 5vw;
    font-size: 28px;
    margin-left: 30px;
}
.thanks button {
    width: 100%;
    background-color: slategray;
    border: none;
    padding: 8px;
    margin-bottom: 18px;
}
.thanks button a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}
.publish {
    margin-left: 25vw; 
}
.publish button {
    background-color: slategray;
    border: none;
    padding: 8px;
}
.publish button a {
    color: white;
    text-decoration: none;
}

 @media screen and (max-width: 600px) {
    .navbar li {
        float: none;
    }
    li.left {
        float: none;
    }
    .user-form{
        padding-left: 40vw;
        width: auto;
    }

 }
